@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0aa8a7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navLink li:hover a,
.navLink button:hover {
  color: var(--primary)
}
